@{
    ViewBag.Title = "Index";
    Session["Page"] = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using METRO.Models;
@model IEnumerable<METRO.Models.catagory>
@{
    List<product> x = ViewBag.Pro;
}

<html>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="brands_products">
                            <!--search_products-->
                            <h2>Search</h2>
                            <div class="brands-name" style="margin-bottom:20px">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <button id="searchType" data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-block"> Type <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <input type="radio" id="all" name="1" value="1" checked="">
                                                <label for="all">All</label>
                                            </li>
                                            @foreach (var drop in Model)
                                            {
                                                <li>
                                                    <input type="radio" id="@drop.catagories_id" name="1" value="1" checked="">
                                                    <label for="@drop.catagories_id">@drop.catagories_tag</label>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li><input id="searchText" type="text" placeholder="Search" class="form-control" /></li>
                                    <li><label id="min_text" class="form-control"></label></li>
                                    <li><input id="min_val" type="range" value="0" min="0" max="100000" step="1" placeholder="Min Price" class="form-control" style="background-color:lightskyblue;height:4px; margin-top:10px; margin-bottom:10px;" /></li>
                                    <li><label id="max_text" class="form-control"></label></li>
                                    <li><input id="max_val" type="range" min="0" max="100000" step="1" placeholder="Max Price" class="form-control" style="background-color:lightskyblue;height:4px; margin-top:10px; margin-bottom:10px;" /></li>
                                    <li><button id="searchButton" class="glyphicon glyphicon-search btn btn-default btn-block" value="Search">Search</button></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Category</h2>                       
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#Food">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Food
                                        </a>
                                    </h4>
                                </div>
                                <div id="Food" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var c in Model)
                                            {
                                                if (c.catagories_id.Contains("F"))
                                                {
                                                    <li><a href="/AllProducts/Index?type=@(c.catagories_id.Trim())&id=">@c.catagories_name</a></li>
                                                }
                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#Electric">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Electric
                                        </a>
                                    </h4>
                                </div>
                                <div id="Electric" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var c in Model)
                                            {
                                                if (c.catagories_id.Contains("T"))
                                                {
                                                    <li><a href="/AllProducts/Index?type=@(c.catagories_id.Trim())&id=">@c.catagories_name</a></li>
                                                }
                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            @foreach (var c in Model)
                            {
                                if (c.catagories_id.Contains("N"))
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="/AllProducts/Index?type=@(c.catagories_id.Trim())&id=">@c.catagories_name</a></h4>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var c in Model)
                            {
                                if (c.catagories_id.Contains("G"))
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="/AllProducts/Index?type=@(c.catagories_id.Trim())&id=">@c.catagories_name</a></h4>
                                        </div>
                                    </div>
                                }
                            }
                        </div><!--/category-products-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items" id="searchResult">
                        <!--features_items-->
                        <h2 class="title text-center">Items</h2>
                        @foreach (var pro in x)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/Content/images/Product/@pro.product_image" style="height:180px;width:auto" alt="" />
                                            <h2>PKR @pro.product_price</h2>
                                            <p>@pro.product_name</p>
                                            <a href="/Product/Index?id=@pro.product_id" class="btn btn-default add-to-cart">View</a>
                                        </div>
                                    </div>
                                    @{
                            if (Session["USER"] != null)
                            {
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a id="addToWish" onclick="WishList(@pro.product_id)" href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a id="addToCart" onclick="Cart(@pro.product_id)" href="#"><i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart</a></li>

                                    </ul>
                                </div>
                            }
                                    }

                                </div>
                            </div>
                        }



                        <input id="count" value="" hidden />

                    </div><!--features_items-->
                    <div id="pagi">                        
                    </div>
                </div>
            </div>
        </div>

    </section>



</body>
</html>
<script>
    document.getElementById("searchButton").onclick = function () {
        proCheck()
    }

    function WishList(a) {
        var pro_id = a;
        var user_id = @(Session["USERID"])
        $.post("/Product/AddWish", { pro_id: pro_id, user_id: user_id },
            function (data) {
                alert(data)
            });
    }

    function Cart(a) {
        var pro_id = a;
        var user_id = @(Session["USERID"])
        $.post("/Product/AddCart", { pro_id: pro_id, user_id: user_id },
            function (data) {
                alert(data)
            });
    }
   


    function proCheck() {
        var type = $("#searchType").text();
        var text = $("#searchText").val();
        var min = $("#min_val").val();
        var max = $("#max_val").val();

        $.post("/AllProducts/Search", { type: type, id: text, min: min, max: max },
            function (data) {
                $("#searchResult").empty().append(data.result);
                $("#pagi").empty().append(data.page);               
            });
    }
    function pageData(x) {
        var type = $("#searchType").text();
        var text = $("#searchText").val();
        var min = $("#min_val").val();
        var max = $("#max_val").val();
        var pageNo = x;

        $.post("/AllProducts/PageData", { type: type, id: text, min: min, max: max,pageNo:pageNo },
            function (data) {
                $("#searchResult").empty().append(data.result);                
            });
    }
    document.getElementById("min_val").onchange = function () {
        $("#min_text").text("Min : " + $("#min_val").val());
    }
    $("#min_text").text("Min : " + $("#min_val").val());

    document.getElementById("max_val").onchange = function () {
        $("#max_text").text("Max : " + $("#max_val").val());
        var y = $("#max_val").val().toString();
        var x = document.getElementById("min_val");
        x.setAttribute("max", y);
    }
    $("#max_text").text("Max : " + $("#max_val").val());
    var y = $("#max_val").val().toString();
    var x = document.getElementById("min_val");
    x.setAttribute("max", y);

</script>